<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>

<body>
    <div id="login_form">
        <form name="f1" method="post" action="/user/register" id="f1">
            <table>
                <tr>
                    <td class="f1_label">Email :</td>
                    <td><input type="text" name="email" value="" />
                    </td>
                </tr>
                <tr>
                    <td class="f1_label">User Name :</td>
                    <td><input type="text" name="name" value="" />
                    </td>
                </tr>
                <tr>
                    <td class="f1_label">Password :</td>
                    <td><input type="password" name="password" value="" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <button type="submit">Register</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>

</html>